{% extends 'home.html' %}
{% block body %}
    <body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <!-- Header -->
        {% include 'vtc/header.html' %}
        <!-- Sidebar -->
        {% include 'vtc/sidebar.html' %}
        <!-- Content -->

        {% block delete %}
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                {#                            <h1 class="m-0 text-dark"> Bienvenido <small>{{ request.user.username}}</small></h1>#}
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    {#                                <li class="breadcrumb-item"><a href="{% url 'erp:dashboard' %}">Home</a></li>#}
                                    <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        {% block content %}

                        {% endblock %}

                        <!-- Modal -->
                        <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><i
                                                class="fab fa-slack"></i> Registros</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% block modal_body %}

                                            <table class="table  table-bordered" id="tableInfoIndexado">
                                                <thead>
                                                <tr id="trow" rel="rowModal">
                                                    {% block modal %}

                                                    {% endblock %}
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        {% endblock %}

                                    </div>
                                    {% block modal_footer %}
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-secondary">Guardar</button>
                                        </div>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Footer -->
            {% include 'footer.html' %}
        {% endblock %}

        {% block indexacion %}

        {% endblock %}

    </div>

    <!-- Block javascript -->
    {% block javascript %}

    {% endblock %}
    <script>
        {% if messages %}
            var html = '<p>';
            {% for message in messages %}
                html += '{{ message }}<br>';
            {% endfor %}
            html += '</p>';
            Swal.fire({
                title: 'Error!',
                html: html,
                icon: 'error'
            });
        {% endif %}
    </script>
    </body>
{% endblock %}
