{% load static %}
<aside class="main-sidebar sidebar-light-navy elevation-4">

    {# IMAGEN Y LOGO DEL SISTEMA   #}
    <a href="#" class="brand-link">
        <img src="{% static 'img/DOXER-LOGO-03.png' %}" alt="DOXER-LOGO" class="brand-image"
             style="opacity: .8">
        <span class="brand-text font-weight-light">DOXER</span>
    </a>
    {# // END IMAGEN Y LOGO DEL SISTEMA   #}

    <div class="sidebar">
        {# USER PANEL INFO #}
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        {# END USER PANEL INFO #}

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {# LINKS INVENTARIO #}
                {% comment %}<li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Inventario
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {# LINK CATEGORIA #}
                        <li class="nav-item">
                            <a href="{% url 'inventory:category_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Categorias
                                </p>
                            </a>
                        </li>
                        {# LINK SUPPLIERS #}
                        <li class="nav-item">
                            <a href="{% url 'inventory:supplier_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Proveedores
                                </p>
                            </a>
                        </li>
                        {# LINK PRODUCTOS #}
                        <li class="nav-item">
                            <a href="{% url 'inventory:products_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-truck-loading"></i>
                                <p>
                                    Productos
                                </p>
                            </a>
                        </li>
                        {# LINK VENTAS #}
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-shopping-basket"></i>
                                <p>
                                    Ventas
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>{% endcomment %}
                {# // END LINKS INVENTARIO #}

                {# LINKS ADMINISTRATIONS #}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>
                            Administracion
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {# LINK DEPARTAMENTOS #}
                        <li class="nav-item">
                            <a href="{% url 'administration:departamentos_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    Departamentos
                                </p>
                            </a>
                        </li>

                        {# LINK EXPEDIENTES #}
                        <li class="nav-item">
                            <a href="{% url 'administration:expedients_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-folder-open"></i>
                                <p>
                                    Expedientes
                                </p>
                            </a>
                        </li>

                        {# LINK DOCUMENTOS #}
                        <li class="nav-item">
                            <a href="{% url 'administration:documentos_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-file-alt"></i>
                                <p>
                                    Documentos
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                {# // END LINKS DIGITALIZACION #}

                {# LINKS ACTUALIZACION #}
                {#                <li class="nav-item">#}
                {#                    <a href="#" class="nav-link">#}
                {#                        <i class="nav-icon fas fa-file-upload"></i>#}
                {#                        <p>#}
                {#                            Actualizacion#}
                {#                            <i class="fas fa-angle-left right"></i>#}
                {#                        </p>#}
                {#                    </a>#}
                {#                    <ul class="nav nav-treeview">#}
                {# LINK ACADEMICO #}
                {#                        <li class="nav-item">#}
                {#                            <a href="{% url 'indexingindexing:index_document2' %}" class="nav-link">#}
                {#                                <i class="nav-icon fas fa-users"></i>#}
                {#                                <p>#}
                {#                                    Academico#}
                {#                                </p>#}
                {#                            </a>#}
                {#                        </li>#}
                {# LINK ADMINISTRATIVO #}
                {#                        <li class="nav-item">#}
                {#                            <a href="{% url 'indexingindexing:index_document2' %}" class="nav-link">#}
                {#                                <i class="nav-icon fas fa-users"></i>#}
                {#                                <p>#}
                {#                                    Administrativo#}
                {#                                </p>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </li>#}

                {# LINKS MATRIZ #}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fab fa-mendeley"></i>
                        <p>
                            Matriz
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {# LINK DEPARTAMENTOS #}
                        <li class="nav-item">
                            <a href="{% url 'administration:serials_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    Serie
                                </p>
                            </a>
                        </li>

                        {# LINK EXPEDIENTES #}
                        <li class="nav-item">
                            <a href="{% url 'administration:sub_serials_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-folder-open"></i>
                                <p>
                                    Sub Serie
                                </p>
                            </a>
                        </li>

                        {# LINK DOCUMENTOS #}
                        <li class="nav-item">
                            <a href="{% url 'administration:documents_type_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-file-alt"></i>
                                <p>
                                    Tipo Documento
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                {# // END LINKS MATRIX #}

                {# LINK INDEXING #}
                <li class="nav-item">
                    <a href="{% url 'indexing:index_document' %}" class="nav-link">
                        <i class="nav-icon fas fa-cloud-upload-alt"></i>
                        <p>
                            Indexacion
                        </p>
                    </a>
                </li>
                {# // END LINKS ACTUALIZACION #}


                {# LINK EMPRESA #}
                <li class="nav-item">
                    <a href="{% url 'panel:enterprise_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Empresas
                        </p>
                    </a>
                </li>
                {# LINK USUARIOS #}
                <li class="nav-item">
                    <a href="{% url 'panel:user_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

