{% load static %}
<aside class="main-sidebar sidebar-light-navy elevation-4" style="position: fixed">

    {# IMAGEN Y LOGO DEL SISTEMA   #}
    <a href="#" class="brand-link">
        <img src="{% static 'img/DOXER-LOGO-03.png' %}" alt="DOXER-LOGO" class="brand-image"
             style="opacity: .8">
        <span class="brand-text font-weight-light">DOXER</span>
    </a>
    {# // END IMAGEN Y LOGO DEL SISTEMA   #}

    <div class="sidebar">
        {# USER PANEL INFO #}
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        {# END USER PANEL INFO #}

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                {#  LINKS ADMINISTRATION#}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-paperclip"></i>
                        <p>
                            Administrativo
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'administration:documents_type_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Documentos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'administration:sucursal_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sucursales</p>
                            </a>
                        </li>
                    </ul>
                </li>

                {#LINKS INVENTORY#}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Inventario
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Expedientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Documentos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {# END LINKS INVENTORY #}

                {# LINK INDEXING #}
                <li class="nav-item">
                    <a href="" class="nav-link">
                        {#                    <a href="{% url 'indexing:index_document' %}" class="nav-link">#}
                        <i class="nav-icon fas fa-cloud-upload-alt"></i>
                        <p>
                            Indexacion
                        </p>
                    </a>
                </li>
                {# // END LINKS ACTUALIZACION #}

                {# LINK USUARIOS #}
                <li class="nav-item">
                    <a href="{% url 'panel:user_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

