<div class="row">
    <input type="hidden" id="id_id" name="id_id" class="form-control">
    <div class="col-md-6">
        <div class="form-group">
            <label>Nombres: </label>
            <input type="text" name="names" maxlength="30" class="form-control" id="id_names">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Apellidos: </label>
            <input type="text" name="surnames" maxlength="30" class="form-control" id="id_surnames">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group"><label>Cedula: </label>
            <input type="text" name="card_id" maxlength="14" class="form-control" id="id_card_id">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group"><label>Numero de telefono: </label>
            <input type="text" name="phone_number" maxlength="8" class="form-control" id="id_phone_number">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group"><label>Direccion: </label>
            <input type="text" name="address" maxlength="100" class="form-control" id="id_address">
        </div>
    </div>
</div>
