{% extends 'vtc/body.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    {#    ETIQUETA PARA SELECT2 PARA LAS QUERYS#}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    {% block head_list %}

    {% endblock %}

{% endblock %}

{% block content %}

    {% block query %}


    {% endblock %}

    <div class="card card-navy card-outline" id="card-query-result">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-list"></i>
                {{ title }}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table  table-striped" id="tableData">
                <thead>
                <tr id="trow" rel="rowTable">
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <a href="{{ create_url }}" type="button" id="btn_registro" class="btn bg-orange"
               style="color: white !important;">
                <i class="fas fa-plus"></i>Alta
            </a>
            {% block btn_query_modal %}

            {% endblock %}
        </div>
    </div>

{% endblock %}


{% block javascript %}

{% endblock %}
