{% extends 'list.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head_list %}
    <!-- Etiquetas para select2 -->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'js/documents/create_document.js' %}"></script>
{% endblock %}

{% block content %}

        <form action="." method="post" enctype="multipart/form-data" id="form-document">
        <div class="card card-navy card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    {{ title }}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                {% csrf_token %}

                <input type="hidden" name="action" value="{{ action }}">

                <!-- Primera card INFORMACION DEL TIPO DOCUEMNTAL -->
                <div class="card card-navy">

                    <div class="card-header">
                        <h3 class="card-title">Informacion Documental</h3>
                    </div>

                    <div class="card-body">

                        <!-- PRIMERA FILA -->
                        <div class="row">

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Expediente: </label>
                                    {{ form.expedients|add_class:'form-control select2'|attr:'autocomplete:off' }}
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Documento: </label>
                                    {{ form.document_type|add_class:'form-control select2'|attr:'autocomplete:off' }}
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Fecha documento: </label>
                                    {{ form.date|add_class:'form-control'|attr:'autocomplete:off' }}
                                </div>
                            </div>

                        </div>

                        <!-- SEGUNDA FILA -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="before-file">
                                    <label>Archivo: </label>
                                    {{ form.file|add_class:'form-control'|attr:'autocomplete:off' }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" id="btn_registro" class="btn bg-olive"
                        style="color: white !important;">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a href="{{ list_url }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
                <a class="btn btn-danger" id="prueba"><i class="fas fa-ban"></i> PRUEBA</a>

                {% block btn_query_modal %}

                {% endblock %}
            </div>
        </div>
    </form>

{% endblock %}