{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'js/documents/list.js' %}"></script>
{% endblock %}

{% block columns %}

    <tr>
        <th scope="col">Id</th>
        <th scope="col">Expediente</th>
        <th scope="col">Codigo Cliente</th>
        <th scope="col">Documento</th>
        <th scope="col">Fecha</th>
        <th scope="col">Archivo</th>
        <th scope="col">Opciones</th>
    </tr>

{% endblock %}

{% block rows %}

{% endblock %}

{#{% block modal %}#}
{#    <th scope="col">Id</th>#}
{#    <th scope="col">Nombre del campo</th>#}
{#    <th scope="col">Tipo de dato almacenado</th>#}
{#    <th scope="col"></th>#}
{#{% endblock %}#}
