{% extends 'list.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head_list %}
    <script src="{% static 'js/departamento/list.js' %}"></script>
{% endblock %}

{% block query %}
    <div class="card card-navy card-outline ">

        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title_query }}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-gr oup">
                            <label>{{ entity }} </label>
                            {{ form.departaments|add_class:'form-control select2'|attr:'autocomplete:off' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button id="btn-query-listview" type="button" class="btn bg-success" style="height: 50%;">Buscar</button>
            <a href="{{ create_url }}" type="button" id="btn_registro" class="btn bg-orange"
               style="color: white !important;">
                <i class="fas fa-plus"></i> Alta
            </a>
        </div>
    </div>
{% endblock %}

{% block columns %}

    <tr>
        <th scope="col" style="width: 10%">Id</th>
        <th scope="col" style="width: 50%">Nombre</th>
        <th scope="col" style="width: 20%">Responsable</th>
        <th scope="col" style="width: 20%">Opciones</th>
    </tr>

{% endblock %}

{% block rows %}

{% endblock %}

